* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
}

.container {
  width: 100%;
  color: #f5f5f5;
}

header {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #222, #000);
  justify-content: space-between;
  padding: 20px;
}

h1 {
  font-size: 2.5rem; /* Good balance for visibility */
  font-weight: bold;
  text-align: center;
  color: white; /* Ensures contrast against dark background */
}

h1 span {
  color: #ffcc00; /* Adds a subtle highlight */
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 20px;
}

.header-btns button {
  padding: 15px 30px;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 16px;
}

.header-btns button:hover {
  background-color: #f5f5f5;
  color: #000;
  border: 1px solid #000;
  transform: scale(1.2);
}

.sm-score {
  display: none;
  text-align: center;
  margin-block: 20px;
  color: #111;
}

.game-board {
  margin-block-start: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.target-color {
  margin: 20px auto;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-color: gold;
}

.options {
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: min(100%, 800px);
}

@media (max-width: 1024px) {
  .options {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 400px) {
  .options {
    grid-template-columns: repeat(2, 1fr);
  }
}

.option-color {
  width: 120px;
  height: 120px;
  border: solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.option-color:hover {
  border: solid gray;
}

.one {
  background: #FFD700;
}

.two {
  background: #8B7500;
}

.three {
  background: red;
}

.four {
  background: #C9A600;
}

.five {
  background: gold;
}

.six {
  background: #E6C200;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #222;
}

@media screen and (max-width: 600px) {
  .sm-score {
    display: block;
  }

  .bg-score {
    display: none;
  }

  /* put hamburger here */
  .header-btns {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .header-btns.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 402px) {
  .game-board {
    margin-block-start: 80px;
  }

  .options {
    margin: 30px auto;
  }

  .option-color {
    width: 90px;
    height: 90px;  
  }

  .target-color {
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }
}